modules = ["nodejs-24", "python-3.11"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["revenuecat:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 8082
externalPort = 3001

[[ports]]
localPort = 22753
externalPort = 3002

[[ports]]
localPort = 25287
externalPort = 3000

[userenv]

[userenv.shared]
EXPO_PUBLIC_API_DOMAIN = "zip-repl-cactusussy24.replit.app"
EXPO_PUBLIC_REVENUECAT_TEST_API_KEY = "test_SPEipgLGXFDmuBDxZfiqLkpcMNN"
EXPO_PUBLIC_REVENUECAT_IOS_API_KEY = "appl_UcQPiJQwpBszXOuzqMqYFnsWXgb"
EXPO_PUBLIC_REVENUECAT_ANDROID_API_KEY = "goog_fBhEmvFUkitDCNJitLELKqFNMDt"
REVENUECAT_PROJECT_ID = "proj5d1a3e65"
REVENUECAT_TEST_STORE_APP_ID = "app99f43b6459"
REVENUECAT_APPLE_APP_STORE_APP_ID = "appa9b4d3afec"
REVENUECAT_GOOGLE_PLAY_STORE_APP_ID = "app14176679fb"

[nix]
channel = "stable-25_05"
